.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
	display: flex;
	cursor: default;
}

.logoItem {
	padding-right: 10px;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  appearance: none;
  border-radius: 10px;
  background-color: #0071c2;
}

.navButton:hover {
	background-color: #0051c2;
}

.logoContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.userBar {
	display: flex;
}

.userBarItem {
	margin-right: 10px;
}
.userBarItem:last-child {
	cursor: pointer;
	margin-right: 0px;
	margin-left: 20px;
}